<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CaC-Movies</title>
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:wght@200..1000&display=swap" rel="stylesheet">

    <!-- Agregar fontawesome -->
    <script src="https://kit.fontawesome.com/f7fb471b65.js" crossorigin="anonymous"></script>

    <!-- HACEMOS REFERENCIA A UN DOCUMENTO CSS EXTERNO -->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/crud-movies.css">
    

    <!-- INTERNO AL DOCUMENTO -->
    <!-- <script>
        alert('Hola mundo JS C#24162 😎');
    </script> -->
</head>

<!-- Agregamos CCS en linea -->
<body >
    <!-- Agregar comentario -->
    <!-- INDICAR LA CABECERA -->
    <header class="header">
        <!-- indica que un menu de navegacion -->
        <nav>
            <!-- para realizar divisiones de contenido -->
            <div id="logo">
                <a href="">
                    <i class="fas fa-film"></i>
                    <span class="logo-text">
                        CAC MOVIES
                    </span>
                </a>
            </div>
            <ul class="nav-links">
                <li>
                    <!-- etiqueta enlace - enlace interno al documento html -->
                    <a href="#popular" >Tendencias</a>
                </li>
                <li>
                    <!-- etiqueta enlace interno al proyecto -->
                    <a href="./register.html">Registrarse</a>
                </li>
                <li>
                    <!-- Enlace externo -->
                    <a href="#" target="_blank" class="btn-cac">
                        <i class="fas fa-sign-in-alt"></i>
                        <span class="login-text">
                            Iniciar sesión
                        </span>
                    </a>
                </li>
            </ul>
        </nav>

    </header>
    <!-- Indicar contenido principal de la pagina -->
    <main> 
        <section id="form" class="container ">
            <h2 class="search-title">Gestión de peliculas</h2>
            <p class="description" >En esta sección se podra llevar a cabo la gestión de las peliculas del portal</p>
            <form action="#"  id="form-movie">
                <div class="d-flex">
                    <div class="form-control d-flex-column">
                        <label for="title">Título</label>
                        <input type="text" class="input-search" name="title" id="title">
                    </div>
                    <div class="form-control d-flex-column">
                        <label for="director">Director</label>
                        <input type="text" class="input-search" name="director" id="director">
                    </div>
                    <div class="form-control d-flex-column">
                        <label for="rating">Rating</label>
                        <input type="number" class="input-search" name="rating" id="rating">
                    </div>
                    <div class="form-control d-flex-column">
                        <label for="release-date">Fecha Lanzamiento</label>
                        <input type="date" class="input-search" name="release_date" id="release-date">
                    </div>
                    <div class="form-control d-flex-column">
                        <label for="banner">Banner</label>
                        <input type="url" class="input-search" name="banner" id="banner-form">
                    </div>                
                    <input type="hidden"  name="id" id="id-movie">
                    <button class="btn-cac" type="button" id="btn-save-movie">Agregar</button>
                </div>
            </form> 
        </section>
        <section id="list" class="container">
            <h3 class="subtitle">Listado de peliculas</h3>
            <table id="list-table-movies" class="table">
                <thead>
                    <tr>
                        <th>Titulo</th>
                        <th>Director</th>
                        <th>Rating</th>
                        <th>Fecha de lanzamiento</th>
                        <th>Banner</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="tbody-table-movies">
                    
                </tbody>
            </table>
        </section>  
    </main>
    <!-- Indicar el pie de página -->
    <footer id="footer">
        <a href="">Términos y condiciones</a>
        <a href="">Preguntas Frecuentes</a>
        <a href="">Ayuda</a>
        <a href="./crud-movies.html">CRUD Movies</a>
    </footer>

    <!-- INTERNO AL DOCUMENTO -->
    <script>
        // alert('Hola mundo JS C#24162 😎');
        // console.log('Hola por medio de la consola 😀');
    </script>

    <!-- REFERENCIA EXTERNA -->
    <!-- <script src="./static/js/index.js"></script> -->
    <!-- <script src="./static/js/funciones.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../static/js/crud-movies.js"></script>

</body>

</html>